<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 引入配置文件 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:c3p0.properties</value>
            </list>
        </property>
    </bean>

    <!-- 配置连接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${c3p0.driverClass}"></property>
        <property name="jdbcUrl" value="${c3p0.url}"></property>
        <property name="user" value="${c3p0.user}"></property>
        <property name="password" value="${c3p0.password}"></property>
    </bean>

    <!--配置sqlSessionFactory。SqlSessionFactoryBean 是用于创建 SqlSessionFactory 的-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!--引入mybatis的全局配置-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>

    <!--使用 MapperFactoryBean,像下面这样来把接口加入到 Spring 中-->
    <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <!--指定自己的mapper接口-->
        <property name="mapperInterface" value="cn.apeius.mybatis.mapper.UserMapper" />
        <!--注入sqlSession工厂-->
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>


</beans>